<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav [mode]="mode.value" position="end">
    <p><button mat-button (click)="sidenav.toggle()"><i class="fa fa-times" aria-hidden="true"></i>
      </button></p>
    <div class="menu_content">
      <app-sidenav></app-sidenav>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (navToggle)="sidenav.toggle()" (cityevent)="citychangedinheader($event)"></app-header>
    <div class="row content">
      <div class="company_info row">
        <div class="col-xs-12 col-md-3">
            <img class="company_image" st src="{{companyinfo.image}}" alt="">
            
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="company_name">
          {{companyinfo.name}}
          </div>
          <hr class="m-2">
          <div class="company_desc"[innerHTML]="companyinfo.description">
              <!-- <div class="paragraph" [innerHTML]="companyinfo.description"></div> -->
          <!-- {{companyinfo.description}} -->
        </div>
        <div>
          <a class="" href="{{companyinfo.link}}">
            <!-- <button  mat-raised-button type="button"  class="btn" style="margin-top: 11px;">مشاهده {{companyinfo.name}}</button> -->
            <img  style="height: 32px;width: 32px;" src="assets/image/sabad.jpg" alt="">
          </a>
        </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">

        <div class="category filter_box">
          <p>دسته‎بندی‎ها</p>
          <hr>
          <div class="filter_options">
            <mat-radio-group [(ngModel)]="selectedcategory">
              <mat-radio-button *ngFor="let category of categories;" value="{{category.slug}}">{{category.name}}</mat-radio-button>
            </mat-radio-group>

          </div>
        </div>
        <button mat-raised-button class="btn filter_btn" (click)="filterbtn()">اعمال فیلتر</button>
        <button mat-raised-button color="warn" class="btn filter_btn" (click)="filterDeletebtn()">حذف فیلتر</button>
      </div>
      <div class="offer col-xs-12 col-md-8">
        <div class="offer_content">
          <mat-tab-group animationDuration="0ms" *ngIf="pro" (selectedTabChange)="changeTab($event)">
            <mat-tab label="محبوب ترین‎ها">
                <div class="row inner_content">
                    <!-- start of offer -->
                    <div class="offer_box" *ngFor="let item of pro;">
    
    
                      <label>
                        <input type="checkbox" />
                        <div class="card front_offer ">
                          <div class="front">
                            <a class="offer_box_link">
                              <span class="offer_off"> {{item.chatrbazi}}<span>چتر بازی </span></span>
                              <div *ngIf="item.image" class="offer_image">
                                  <img  src="{{item.image}}" alt="">
                                </div>
                                <div *ngIf="!item.image" class="offer_image">
                                    <img  src="{{item.company[0].image}}" alt="">
                                  </div>
                              <div class="offer_title">
                                {{item.name}}
                              </div>
                              <div class="offer_company">
                                <span class="offer_companies" *ngFor="let i of item.company;">
                                  <a [routerLink]="['/company' , i.slug]">{{i.name}}</a>
                                </span>
                              </div>
                              <a class="btn offer_btn" ngbButton>
                                مشاهده
                              </a>
                            </a>
                          </div>
                          <div class="back ">
    
                            <p class="back_name">{{item.name}}</p>
                            <div class="timer timer_{{item.id}}">
                                اعتبار تا
                                <countdown-timer style="color: #ec3e54;font-weight: 1000;" (zeroTrigger)="finished(item.id)" [end]="[item.expiration_date]"></countdown-timer>
                              </div>
                            <div *ngIf="item.is_free && item.type==4" #container>
    
                              <button class="btn Copy_btn" (click)="showCopied(item.id)" ngxClipboard cbContent={{item.discount_code}}
                                [container]="container">کپی</button>
    
                              <input class=" btn input_cupon" type="text" disabled value="{{item.discount_code}}">
    
                            </div>
                            <div *ngIf="item.type==1">
                              <p>وضعیت:
                                <span style="font-weight: bold;" *ngIf="item.count>0">موجود</span>
                                <span style="font-weight: bold;color: red;" *ngIf="item.count<=0">ناموجود</span>
                              </p>
                            </div>
                            <div *ngIf=" item.type==1 &&(!item.free || item.price)">
                              <p>قیمت:
                                <span>
                                  {{item.price}}
                                  ریال
                                </span>
                              </p>
                            </div>
                            <div class="btn-groups">
                              <div>
                                <a (click)="sendfail(item.slug)">
                                  <!--  -->
                                  <button class="btn btn-danger btn_sm">
    
                                    اعلام خرابی
    
                                  </button>
                                </a>
                                <a *ngIf="!item.is_free" (click)="addtocart(item.id)">
                                  <button [disabled]="item.is_free" class="btn btn-success btn_sm ">
                                    خرید
                                  </button>
                                </a>
                                <a *ngIf="item.is_free" href="{{item.link}}">
                                  <button class="btn btn-success btn_sm ">
                                    لینک خرید
                                  </button>
                                </a>
                              </div>
                              <button (click)="openBottomSheet(item.slug)" class="btn  btn-warning btn_sm ">
                                اشتراک گذاری
                              </button>
    
                              <a *ngIf="item.type == 1" [routerLink]="['/product' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                              <a *ngIf="item.type == 2" [routerLink]="['/app' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                              <a *ngIf="item.type == 3" [routerLink]="['/offer' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                              <a *ngIf="item.type == 4" [routerLink]="['/code' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                            </div>
                            <button class="btn offer_btn back_voted">
                              بازگشت
                            </button>
                          </div>
                        </div>
    
                      </label>
    
                    </div>
                    <!-- end of offer -->
    
                  </div>

              <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
              (scrolled)="onScroll()">
              </div>
              
            </mat-tab>

            <mat-tab label="بیشترین تخفیف">
                <div class="row inner_content">
                    <!-- start of offer -->
                    <div class="offer_box" *ngFor="let item of pro;">
    
    
                      <label>
                        <input type="checkbox" />
                        <div class="card front_offer ">
                          <div class="front">
                            <a class="offer_box_link">
                              <span class="offer_off"> {{item.chatrbazi}}<span>چتر بازی </span></span>
                              <div *ngIf="item.image" class="offer_image">
                                  <img  src="{{item.image}}" alt="">
                                </div>
                                <div *ngIf="!item.image" class="offer_image">
                                    <img  src="{{item.company[0].image}}" alt="">
                                  </div>
                              <div class="offer_title">
                                {{item.name}}
                              </div>
                              <div class="offer_company">
                                <span class="offer_companies" *ngFor="let i of item.company;">
                                  <a [routerLink]="['/company' , i.slug]">{{i.name}}</a>
                                </span>
                              </div>
                              <a class="btn offer_btn" ngbButton>
                                مشاهده
                              </a>
                            </a>
                          </div>
                          <div class="back ">
    
                            <p class="back_name">{{item.name}}</p>
                            <div class="timer timer_{{item.id}}">
                                اعتبار تا
                                <countdown-timer style="color: #ec3e54;font-weight: 1000;" (zeroTrigger)="finished(item.id)" [end]="[item.expiration_date]"></countdown-timer>
                              </div>
                            <div *ngIf="item.is_free && item.type==4" #container>
    
                              <button class="btn Copy_btn" (click)="showCopied(item.id)" ngxClipboard cbContent={{item.discount_code}}
                                [container]="container">کپی</button>
    
                              <input class=" btn input_cupon" type="text" disabled value="{{item.discount_code}}">
    
                            </div>
                            <div *ngIf="item.type==1">
                              <p>وضعیت:
                                <span style="font-weight: bold;" *ngIf="item.count>0">موجود</span>
                                <span style="font-weight: bold;color: red;" *ngIf="item.count<=0">ناموجود</span>
                              </p>
                            </div>
                            <div *ngIf=" item.type==1 &&(!item.free || item.price)">
                              <p>قیمت:
                                <span>
                                  {{item.price}}
                                  ریال
                                </span>
                              </p>
                            </div>
                            <div class="btn-groups">
                              <div>
                                <a (click)="sendfail(item.slug)">
                                  <!--  -->
                                  <button class="btn btn-danger btn_sm">
    
                                    اعلام خرابی
    
                                  </button>
                                </a>
                                <a *ngIf="!item.is_free" (click)="addtocart(item.id)">
                                  <button [disabled]="item.is_free" class="btn btn-success btn_sm ">
                                    خرید
                                  </button>
                                </a>
                                <a *ngIf="item.is_free" href="{{item.link}}">
                                  <button class="btn btn-success btn_sm ">
                                    لینک خرید
                                  </button>
                                </a>
                              </div>
                              <button (click)="openBottomSheet(item.slug)" class="btn  btn-warning btn_sm ">
                                اشتراک گذاری
                              </button>
    
                              <a *ngIf="item.type == 1" [routerLink]="['/product' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                              <a *ngIf="item.type == 2" [routerLink]="['/app' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                              <a *ngIf="item.type == 3" [routerLink]="['/offer' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                              <a *ngIf="item.type == 4" [routerLink]="['/code' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                            </div>
                            <button class="btn offer_btn back_voted">
                              بازگشت
                            </button>
                          </div>
                        </div>
    
                      </label>
    
                    </div>
                    <!-- end of offer -->
    
                  </div>
              <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
              (scrolled)="onScroll()">
            </div>
            </mat-tab>


            <mat-tab label="تازه ترین‎ها">
                <div class="row inner_content">
                    <!-- start of offer -->
                    <div class="offer_box" *ngFor="let item of pro;">
    
    
                      <label>
                        <input type="checkbox" />
                        <div class="card front_offer ">
                          <div class="front">
                            <a class="offer_box_link">
                              <span class="offer_off"> {{item.chatrbazi}}<span>چتر بازی </span></span>
                                <div *ngIf="item.image" class="offer_image">
                                  <img  src="{{item.image}}" alt="">
                                </div>
                                <div *ngIf="!item.image" class="offer_image">
                                    <img  src="{{item.company[0].image}}" alt="">
                                </div>
                              <div class="offer_title">
                                {{item.name}}
                              </div>
                              <div class="offer_company">
                                <span class="offer_companies" *ngFor="let i of item.company;">
                                  <a [routerLink]="['/company' , i.slug]">{{i.name}}</a>
                                </span>
                              </div>
                              <a class="btn offer_btn" ngbButton>
                                مشاهده
                              </a>
                            </a>
                          </div>
                          <div class="back ">
    
                            <p class="back_name">{{item.name}}</p>
                            <div class="timer timer_{{item.id}}">
                                اعتبار تا
                                <countdown-timer style="color: #ec3e54;font-weight: 1000;" (zeroTrigger)="finished(item.id)" [end]="[item.expiration_date]"></countdown-timer>
                              </div>
                            <div *ngIf="item.is_free && item.type==4" #container>
    
                              <button class="btn Copy_btn" (click)="showCopied(item.id)" ngxClipboard cbContent={{item.discount_code}}
                                [container]="container">کپی</button>
    
                              <input class=" btn input_cupon" type="text" disabled value="{{item.discount_code}}">
    
                            </div>
                            <div *ngIf="item.type==1">
                              <p>وضعیت:
                                <span style="font-weight: bold;" *ngIf="item.count>0">موجود</span>
                                <span style="font-weight: bold;color: red;" *ngIf="item.count<=0">ناموجود</span>
                              </p>
                            </div>
                            <div *ngIf=" item.type==1 &&(!item.free || item.price)">
                              <p>قیمت:
                                <span>
                                  {{item.price}}
                                  ریال
                                </span>
                              </p>
                            </div>
                            <div class="btn-groups">
                              <div>
                                <a (click)="sendfail(item.slug)">
                                  <!--  -->
                                  <button class="btn btn-danger btn_sm">
    
                                    اعلام خرابی
    
                                  </button>
                                </a>
                                <a *ngIf="!item.is_free" (click)="addtocart(item.id)">
                                  <button [disabled]="item.is_free" class="btn btn-success btn_sm ">
                                    خرید
                                  </button>
                                </a>
                                <a *ngIf="item.is_free" href="{{item.link}}">
                                  <button class="btn btn-success btn_sm ">
                                    لینک خرید
                                  </button>
                                </a>
                              </div>
                              <button (click)="openBottomSheet(item.slug)" class="btn  btn-warning btn_sm ">
                                اشتراک گذاری
                              </button>
    
                              <a *ngIf="item.type == 1" [routerLink]="['/product' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                              <a *ngIf="item.type == 2" [routerLink]="['/app' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                              <a *ngIf="item.type == 3" [routerLink]="['/offer' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                              <a *ngIf="item.type == 4" [routerLink]="['/code' , item.slug]">
                                <button class="btn btn-primary btn_sm">
                                  توضیح بیشتر
                                </button>
                              </a>
                            </div>
                            <button class="btn offer_btn back_voted">
                              بازگشت
                            </button>
                          </div>
                        </div>
    
                      </label>
    
                    </div>
                    <!-- end of offer -->
    
                  </div>
            </mat-tab>
            <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">
          </div>

          </mat-tab-group>


        </div>


        <div *ngIf="!pro" class="notfound">
          <!-- موردی یافت نشد -->
        </div>
      </div>

    </div>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>

