.content {
  margin-top: 9em;
}

.notfound {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

.filter_btn {
  float: right;
}

.company_info {
  border: #DFDFDF solid 2px;
  border-radius: 5px;
  padding: 1em;
  background-color: #FFFFFF;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-left: 3.5em
}

.company_name {
  text-align: right;
  font-size: 2em;
  font-weight: 600;
}

.company_desc {
  text-align: right;
}

.company_image {
    transform: translateX(50%);
    right: 50%;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1); */
}

.filter_box {
  border: #DFDFDF solid 2px;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #FFFFFF;
}

.filter_box * {
  text-align: right;
}

.filter_box p {
  font-size: 1.1em;
  font-weight: 700;
}

label {
  display: block;
  width: 96%;
  /* height: 96%; */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}


.offer .offer_box {
  width: 23%;
}


.company_info {
  border: #DFDFDF solid 2px;
  border-radius: 5px;
  padding: 1em;
  background-color: #FFFFFF;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-left: 3.5em
}

.company_name {
  text-align: right;
  font-size: 2em;
  font-weight: 600;
}

.company_desc {
  text-align: right;
}

.company_image {
  width: 12em;
  height: 12em;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1); */
}

.filter_box {
  border: #DFDFDF solid 2px;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #FFFFFF;
}

.filter_box * {
  text-align: right;
}

.filter_box p {
  font-size: 1.1em;
  font-weight: 700;
}
.btn_loction{
  margin:auto;
  display:block;
}

label {
  display: block;
  width: 96%;
  /* height: 96%; */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.offer {
  margin-top: 0;
}

.offer .offer_box {
  width: 23%;
}

@media (max-width: 768px) {
  .offer .offer_box {
    width: 31%;
    margin: 5px;
  }
}

@media (max-width: 559px) {
  .offer .offer_box {
    width: 47%;
    margin: 4px;
    height: 18em;
  }
}


@media (max-width: 768px) {

  .offer {
    margin: 1em auto !important;
  }

  .company_info {
    margin: 0 auto 1em !important;
  }

  .offer .offer_box {
    width: 33%;
  }

  .mat-tab-label {
    width: 100px;
  }

  .company_name {
    margin: .5em auto;
  }

  .company_image {
    width: 50%; 
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 559px) {
  .offer .offer_box {
    width: 50%;
    margin: 0;
  }

  .mat-tab-label {
    width: 90px !important;
  }

  .offer .offer_box .offer_title {
    font-size: 10px;
  }

  .offer .offer_box .offer_image {
    width: 8em;
    height: 8em;
  }

  .offer_off {
    font-size: 10px;
    padding: 3px 4px;
  }
}