<div class="header">
  <div class="topheader row">
    <div class="logo col-2">
      <a [routerLink]="['/']">
        <img src='assets/image/chatrbaazan-logo.png'>
      </a>
    </div>
    <div class="search_bar col-md-8 col-xs-12 row">
      <div class="col-3 countryForm_bar ">
       
        <form [formGroup]="countryForm">
          <select formControlName="countryControl" class="city_btn btn">
            <option [value]="country" *ngFor="let country of countries">{{country}}</option>
          </select>
         </form>
      </div>

      <div class="col-9">
        <div class="input-group mb-3">
          <div class="input-group-append">
            <button class="btn search_btn" type="button">
              <i class="fa fa-search " aria-hidden="true"></i>
            </button>
          </div>
          <input type="text" class="search_input form-control " placeholder="جستجوی کد تخفیف ، شرکت‎ها " aria-describedby="basic-addon2">
        </div>
      </div>

    </div>
    <div class="col-2 sum_charbaz">
      <p>
      مجموع چتربازی‌ها : 329,700
      </p>
    </div>
  </div>
  
  <div class="menu">
    <ul>
      <li>
        <a href="">
        سفارش غذا
        </a>
      </li>
      <li><a href="">
        فروشگاه اینترنتی
      </a></li>
      <li><a href="">
        حمل و نقل 
      </a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
</div>
