.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 1em;
  z-index: 11;
}

.topheader .logo img {
  width: 125px;
}

.menu {
  border-top: 2px solid #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
  height: 3em;
  font-size: .92em;
  font-weight: 700;
  padding-bottom: 0;
}

.menu ul {
  list-style: none;
  height: 100%;
}

.menu ul li {
  height: 100%;
  float: right;
  padding-bottom: 0;
}

.menu ul li:first-child {
  margin-right: 1em;
}

.menu ul li a {
  height: 100%;
  /*padding: .6em 0.39em;*/
  font-weight: 700;
}

.menu ul li:last-child > .dropdown-menu {
  right: auto;
  left: 100%;
}

.city_btn {
  padding: 3px;
  background-color: #fff !important;
  border: 1px solid #CECECE;
  border-radius: 16px;
}

.search_btn {
  border-radius: 0 1em 1em 0 !important;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border: 1px solid #ced4da;
  float: right;

}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input {
  width: 40em;
  border-radius: 1em 0 0 1em !important;
  font-size: .88em;
}

.sum_charbaz {
  padding-top: 9px;
  padding-left: 45px;
  font-size: .95em;
}

col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.toggler {
  display: none;
  text-align: right;
  position: absolute;
  top: 1em;
}

.toggler {
  font-weight: 700;
}

.toggler i {
  font-size: 1.7em;
}

.link {
  padding: 2px;
}

.link i {
  color: red;
  font-size: 17px;
  padding-left: 10px;
}

.sum_charbaz_content {
  padding: 10px;
}

.search_image {
  width: 30px;
  height: 30px;
  margin-left: 11px;
}

.trash_input {
  position: absolute;
  top: 11px;
  left: 15px;
  color: red;
}

@media (max-width: 992px) {
  .menu {
    display: none;
  }

  .sum_charbaz p {
    display: none;
  }

  .toggler {
    display: block;
  }

  .search_input {
    width: 85%;
  }

  .trash_input {
    position: absolute;
    left: 40px;
    top: 6px;
  }

  .countryForm_bar {
    display: none;
  }

  .search_bar {
    position: absolute;
    top: 5em;
    /* right: 19%; */
  }

  .header {
    height: 115px;
  }

  .logo {
    position: absolute;
    left: 20px;
    top: 19px;
  }

  .logo img {
    width: 84px !important;
  }
}

@media all and (max-width: 575px) {
  .search_input {
    width: 80%;
  }

  .header {
    height: 115px;
  }

  .logo {
    position: absolute;
    left: 50px;
    top: 19px;
  }

  .search_div * {
    font-size: .831em !important;
    font-weight: bold !important;
  }

  .search_div img {
    /* width: 1.1em; */
    /* height: 1.1em; */
  }

  .search_result {
    padding: 0;
  }
}

/* .select{
  height:100px;
  overflow:scroll;
} */

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

.dropdown:hover {
  background: rgba(206, 206, 206, 0.226);
}

.dropdown:hover > .dropdown-menu {
  display: block;
  /*transition-delay: 3s;*/
  /*transition-duration: 1.5s;*/
  transition: max-height 2s;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-menu {
  right: 0;
  /*width: 20rem;*/
  width: 610px;
  max-height: 122px;
  overflow: hidden;
  top: 96%;
  left: auto !important;
  /*-webkit-transition: width 2s; !* Safari *!*/
  /*transition: width 2s;*/
}

.full-dropdown-menu {
  max-height: 500px !important;
  /*width: 30rem !important;*/
  /*width: 515px !important;*/
}

.company_links {
  /*width: 50%;*/
  width: 200px;
  float: right;
  text-align: right;
}

/*.company_links-small {*/
/*width: 33% !important;*/
/*}*/

.show-more {
  float: right;
}

.more {
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 4px;
}

.plus-icon {
  height: 32px;
  width: 32px
}

.search_div {
  direction: rtl;
}

@media (max-width: 1410px) {
  .menu ul li a {
    font-size: .9em;
    padding: .6em 0.4em;
    padding-bottom: 0;
  }

}

@media (max-width: 1090px) {
  .menu ul li a {
    font-size: .85em;
    padding: .6em 0.2em;
  }

}


