<div class="header">
  <div class="topheader row">
    <div class="logo col-2">
      <a [routerLink]="['/']">
        <img src='assets/image/chatrbaazan-logo.png'>
      </a>
    </div>
    <div class="search_bar col-8 row">
      <div class="col-4">
        <!-- <div ngbDropdown class="d-inline-block" (change)="selectChangeHandler($event)">
          <button class="btn btn-outline-primary" id="dropdownBasic1"  ngbDropdownToggle *ngIf="selectedDay">{{selectedDay}}</button>
          <button class="btn btn-outline-primary" id="dropdownBasic1"  ngbDropdownToggle *ngIf="!selectedDay">تهران</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" value="انزلی ">انزلی</button>
            <button class="dropdown-item" value="اهواز">اهواز</button>
            <button class="dropdown-item" value="تبریز">تبریز</button>
          </div>
        </div> -->
        <form [formGroup]="countryForm">
          <select formControlName="countryControl" class="btn ">
            <option [value]="country" *ngFor="let country of countries">             {{country}}</option>
          </select>
         </form>
      </div>

      <div class="col-xs-8 ">
        <div class="input-group mb-3">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
          <input type="text" class="form-control" placeholder="جستجوی کد تخفیف ، شرکت‎ها " aria-describedby="basic-addon2">
        </div>
      </div>

    </div>
    <div class="col-2">
      مجموع چتربازی‌ها : 329,700
    </div>
  </div>
  
  <div class="menu">
    <ul>
      <li>
        <a href="">
        سفارش غذا
        </a>
      </li>
      <li><a href="">
        فروشگاه اینترنتی
      </a></li>
      <li><a href="">
        حمل و نقل 
      </a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
</div>
