<div class="footer">
  <div class="footer_content">
    <ul>
      <li><a routerLink="/">صفحه اصلی </a></li>
      <li><a routerLink="/contact" >تماس با ما </a></li>
      <li><a routerLink="/about">درباره ما </a></li>
    </ul>
  </div>
  <hr class=" line">
  <div class="footer_logo">
      <img class="logo" src="assets/image/chatrbaazan-logo.png">
      <span>
          کلیه حقوق این وبسایت متعلق به چتربازان بوده و هرگونه استفاده از محتویات آن غیر مجاز است. 
      </span>
      <span class="social_network">
        <a href="#">
          <img src="" alt="">
        </a>
      </span>
  </div>
</div>