<div class="footer">
  <div class="footer_content list_box">
    <div class="footer_inner_content">
      <div class="footer_logo">
          <img class="logo" src="assets/image/chatrbaazan-logo.png">
          <!-- <span class="social_network">
            <a href="#">
              <img src="" alt="">
            </a>
          </span> -->
      </div>
    <ul>
      <li><a routerLink="/">صفحه اصلی </a></li>
      <li><a routerLink="/contact" >تماس با ما </a></li>
      <li><a routerLink="/about">درباره ما </a></li>
    </ul>
    </div>
  </div>
  <hr class=" line">
  <div class="text_footer"> 
    کلیه حقوق این وبسایت متعلق به چتربازان بوده و هرگونه استفاده از محتویات آن غیر مجاز است. 
  </div>
</div>