.footer {
  text-align: center;
  z-index: 99;
  padding: 15px;
  background-color: #1A1A1A;
  margin-top: 10px;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}

.footer_content {
  display: flex;
}

.footer_inner_content {
  margin: 0 auto;
}

.footer_content ul {
  width: 33em;
  height: 3em;
}

.footer_content li {
  line-height: 3em;
  list-style: none;
  font-weight: 700;
  float: right;
  padding-right: 2em;
}

.logo {
  width: 6em;
  height: 3em;
  float: right;
}

.line {
  background-color: #ffffff;
  margin: 1.5em 3em;
}
.input_email{
  padding-left: 163px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 7px;
    border-radius: 5px;
}

.social_network a {
  height: 2em;
  width: 25px;
  display: block;
  float: inline-start;
  padding: 0px 4px;
  float: right;
  /* height: 2px; */
  position: relative;
}


.social_network {
  height: 2em;
  width: 150px;;
  margin: 10px auto 0;
}

.social_network_images {
  width: 22px;
  /* height: 2em; */
  font-size: 22px;
  position: absolute;
}

.email_sen{
  text-align: right;
  margin-right: 64px;
  font-weight: 700;
}


.placeholder {
  color: #ffffff;
}
.mat-focused .placeholder {
  color: #ffffff;
}
.send_btn{
  margin: 8px;
  height: 35px;
}
@media (max-width: 768px) {
  .line {
    margin: 1em 3em;
  }
  .social_network_images {
    width: 20px;
    /* height: 2em; */
    font-size: 20px;
  }
  .email_sen{ 
    font-size: .9em;
  }

.placeholder {
  font-size: .9em;
}
.mat-focused .placeholder {
  font-size: .9em;
}
.send_btn{
  font-size: .9em;
}
  
}

@media (max-width: 559px) {
  .footer_content ul {
    width: 21em;
    height: 2em;
  }

  .footer_content li {
    line-height: 2em;
    font-size: .85em;
    font-weight: 700;
    list-style: none;
    float: right;
    padding-right: 1em;
  }

  .logo {
    width: 4em;
    height: 2em;
    float: right;
  }

  .text_footer {
    font-size: .8em;
  }

  .line {
    margin: 1em 3em;
  }
  .social_network_images {
    width: 15px;
    font-size: 15px;
  }
  .social_network {
    width: 9em;
  }
  .email_sen{ 
    font-size: .8em;
  }
  .placeholder {
    font-size: .8em;
  }
  .mat-focused .placeholder {
    font-size: .8em;
  }
  .send_btn{
    font-size: .8em;
  }
}
