.footer {
  height: 139px;
  z-index: 99;
  padding: 15px;
  background-color: #2d3e50;
  margin-top: 10px;
  color: #ffffff;
}
.footer .logo{
  width: 7em;
  height: 4em;
}
.footer li{
  float: right;
  list-style: none;
}
.footer_content ul{
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.footer_content li{
  padding: 1em;
  font-weight: 700;
}
.footer .line{
  border-color: #ffffff;
  margin: 0 20em;
}
.footer .footer_logo{
  padding-top: 1em;
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.text_footer{
  margin-top: 13px;
  margin-right: 9px;
  font-size: 13.1px;

}

@media (max-width: 991px) {
  .text_footer{
      direction: rtl;
      font-size: 12.6px;
      text-align: justify;
      margin-top: 0;
  }
  .list_box{
    display:none;
  }
}