.owl-carousel-holder {
  width: 100%;
  float: right;
  height: 33em;
  padding: .5em;
}

.item img {
  height: 33em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 41px -6px rgba(135, 130, 135, 1);
  -moz-box-shadow: 0px 0px 41px -6px rgba(135, 130, 135, 1);
  box-shadow: 0px 0px 41px -6px rgba(135, 130, 135, 1);
}
