.content{
    margin-top: 10em;
    margin-right:  2em;
    margin-left:  2em;
    margin-bottom: 4em;
    min-height: 60vh;
}
.cart_item{
    background-color: #ffffff;
    padding: 1em;
    /* margin-left: 1em; */
    border-radius: 5px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1); */
}
.profile_header{
    background-color: #cfcfcf;
    text-align: right;
    padding: 1em;
    /* margin-right: 1em; */
    border-radius: 25px 7px 0 0px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1); */
}
.profile_option{
    background-color: #ffffff;
    text-align: right;
    padding: 1em;
    /* margin-right: 1em; */
    border-radius:0 0 7px  7px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1); */
}

:host /deep/ .mat-tab-label-content {
    font-weight: bold !important;
    /* font-size: 13px !important; */
    color: #000000 !important;
}
.profile_option a{ text-align: right; width: 100%;}
.add_code{
    text-align: right;
}
.add_code input{
    display: block;
    width: 85%;
    /* margin: 1em; */
}
.tabs{
    text-align: right;
}
@media (max-width: 768px) {
    .cart_item{
        margin: 1em;
    }
    .add_code_title{
        font-size: 1em;
    }
    .content{
        margin-left: 0;
        margin-right: 0;
    }
    #content{
        padding: 12px 10px !important;
    }
    .cart_item{
        margin: .5em;
        padding: .5em;
    }
  }

  @media (max-width: 559px) {
    .content{
        margin-left: 0;
        margin-right: 0;
    }
    #content{
        padding: 12px 10px !important;
    }
    .cart_item{
        margin: .5em;
        padding: .5em;
    }
  }

  