<mat-nav-list>
    <div style="text-align: center;">
      <share-button button="facebook" url={{baseUrl}} text="Share" ></share-button>
    <share-button button="twitter" url={{baseUrl}} text="Tweet"></share-button>
    <share-button button="telegram" url={{baseUrl}} text="pin"></share-button>
    <share-button button="whatsapp" url={{baseUrl}} text="pin"></share-button>
    <!-- <share-button [theme]="'modern-dark'"
 [button]="'facebook'"
 [url]="'https://soroush-app.ir/'"
 [title]="'شریفی'"
 [image]="'https://soroush-app.ir/images/logo.png'"
 [autoSetMeta]="false"
></share-button> -->
    </div>
  </mat-nav-list>
  
