<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav [mode]="mode.value" [fixedInViewport]="true" position="end">
    <p><button mat-button (click)="sidenav.toggle()"><i class="fa fa-times" aria-hidden="true"></i>
      </button></p>
    <div class="menu_content">
      <app-sidenav></app-sidenav>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (navToggle)="sidenav.toggle()"></app-header>
    <div class="content " *ngIf="pro">
      <div class=" row product">

        <div class="product_about col-md-6 order-xs-2 col-xs-12">
          <div class="product_name">
            {{pro.name}}
          </div>
          <!-- <div *ngFor="let i of pro.company;" class="col-md-4"> -->
            <span style="margin:0 7px;" *ngFor="let i of pro.company;" >
              <a [routerLink]="['/company' , i.slug]"> {{i.name}}</a>
            </span>
          <!-- </div> -->
          <hr size="30">
          <!-- citeis -->
          <div class="row">
            <div class="col-md-4 col-xs-6" *ngFor="let city of pro.city;">
              <p>
                <img src="assets/image/map.png" class="" alt="چتربازی">
                {{city.name}}            
              </p>
            </div>
          </div>
          <!-- end cites -->
          <!-- tags -->
          <div class="row">
            <div class="col-md-2 col-xs-4" *ngFor="let label of pro.label;">
              <a (click)="label_clicked(label.name)" class="badge badge-pill badge-light">{{label.name}}</a>
            </div>
          </div>
          <!-- end tags -->

          <hr size="30">
          <br>
          <div class="row">
            <div *ngIf='pro.type===4 && pro.is_free' class="col-md-6 col-xs-12" #container>
              <button class="btn Copy_btn" style="border-radius: 0 6px 6px 0;" (click)="showCopied()" ngxClipboard cbContent={{pro.discount_code}} [container]="container">کپی</button>
              <input class="btn border_input" type="text" value="{{pro.discount_code}}">
            </div>
            <div class="col-md-6 col-xs-12">
              <!-- {{pro.expiration_date|date:'yyyy/MM/dd'}} -->
              <p  style="color:red; font-weight: bold" class="date_praph">مهلت استفاده:{{pro.expiration_date |jalali:pro.expiration_date}}</p>
            </div>
            
          </div>
          <div *ngIf="!pro.is_free" class="row">
            <div class="col-md-12">
              <p class="text_pay"><span>{{pro.price}}</span> ریال</p>
            </div>
            <div class="modal_input">
               
                <button style="margin-left: 11px;" mat-raised-button color="primary" (click)="addtocart(pro.id)" class=" btn_sm mat-raised-button">افزودن
                  به سبد</button>
                  <button mat-raised-button color="warn" (click)="sendfail(pro.slug)" class=" btn_sm mat-raised-button">اعلام خرابی</button>
            </div>
            
          </div>
          <div *ngIf="pro.is_free" class="row">
              <div class="modal_input">
                  <a href="{{pro.link}}">
                    <button style="margin-left: 11px;" mat-raised-button color="primary"  class=" btn_sm mat-raised-button">لینک خرید۱۲۳</button>
                  </a>
                    <button mat-raised-button color="warn" (click)="sendfail(pro.slug)" class=" btn_sm mat-raised-button">اعلام خرابی</button>
              </div>
          </div>
          <hr size="30">
          <div>
            <share-button button="facebook" text="Share" ></share-button>
          <share-button button="twitter" text="Tweet"></share-button>
          <share-button button="telegram" text="pin"></share-button>
          <share-button button="whatsapp" text="pin"></share-button>
          </div>
          
        </div>

        <div class="product_image col-md-6 order-xs-1 col-xs-12">
          <!-- <img src="{{pro.image}}" alt=""> -->
          <div class="product_chatr">
            {{pro.chatrbazi}} چتربازی
          </div>
          <ngx-gallery class="ngx_gallery" [options]="galleryOptions" [images]="image_gallery"></ngx-gallery>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="product_desc" >
        <p class="product_desc_title">توضیحات</p>

         <div [innerHTML]="pro.explanation"></div>

      </div>
    </div>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
