<div class="background">
  <div class="login">
    <div class="logo ">
      <a [routerLink]="['/']">
        <img src='assets/image/chatrbaazan-logo.png'>
      </a>
    </div>
    <h1>ورود به چتر بازان</h1>
      <!-- <input type="email" [(ngModel)] = "user.email" placeholder="ایمیل" required="required" /> -->
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)] = "user.email" placeholder="ایمیل">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" matInput [(ngModel)] = "user.password" placeholder="پسورد">
      </mat-form-field>
      

      <!-- <input type="password"  [(ngModel)] = "user.password" placeholder="رمز عبور" required="required" /> -->
      <p><a routerLink="/forgetpassword">رمز عبور خود را فراموش کرده ام</a></p>

      <button mat-raised-button (click)="LoginUser()" type="submit" class="btn btn-primary btn-block btn-large">ورود</button>
      
      <p *ngIf="isLoginerror">
          رمز عبور یاپسورد اشتباه است
        </p>
      <p>کاربر جدید هستید؟ <a routerLink="/signup">
          ثبت‌نام در چتر بازان
        </a></p>
  </div>
</div>
