/deep/ body {
  /* position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;  */
  margin: 0; height: 100%; overflow: hidden;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-image: url('../../assets/image/bg_01.png');
  background-size: cover;
  overflow: hidden;
  margin: 0;
}
a {
  color: #1ca2bd;
}
.mat-form-field{
  width: 100% !important;
}
.logo img {
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.logo{
  width: 100%;
  height: 50px;
}
/* .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/image/bg_01.png')
} */

p {
  text-align: right;
  margin-top: .9em;
}

.login {
  background-color: #ffffff;
  margin: 6em auto;
  width: 35em;
  height: 530px;
  padding: 5em;
  border-radius: 10px;
}

.login h1 {
  color: #000000;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
  margin: 1em 0;
}

/* input {
  width: 100%;
  margin-bottom: 10px;
  background: #ced4da;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
} */

/* input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
} */

@media all and (max-width: 575px) {
  .login {
    background-color: #ffffff;
    margin: 1em auto;
    width: 18em;
    padding: 1em;
    height: 400px;
}
.logo img{
    width: 70px;
}
.login h1 {
    font-size: 1em;
}
}

