<div class="background">
  <div class="login">
    <div class="logo ">
      <a [routerLink]="['/']">
        <img src='assets/image/chatrbaazan-logo.png'>
      </a>
    </div>
    <h1>ورود به چتربازان</h1>
    <form (ngSubmit)="LoginUser()" >
      <!-- <input type="email" [(ngModel)] = "user.email" placeholder="ایمیل" required="required" /> -->
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)] = "user.email" placeholder="ایمیل" name="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" matInput [(ngModel)] = "user.password" placeholder="رمزعبور" name="password">
      </mat-form-field>
      

      <!-- <input type="password"  [(ngModel)] = "user.password" placeholder="رمز عبور" required="required" /> -->
      <p><a routerLink="/forgetpassword">رمز عبور خود را فراموش کرده ام</a></p>

      <button mat-raised-button (click)="LoginUser()" type="submit" class="btn btn-primary btn-block btn-large">ورود</button>
      
      <p *ngIf="isLoginerror">
          رمز عبور یاایمیل اشتباه است
        </p>
      <p>کاربر جدید هستید؟ <a routerLink="/signup">
          ثبت‌نام در چتر بازان
        </a></p>
      </form>
      <div style="text-align: right; ">
        <a [routerLink]="['']" >
          <p style="    margin-top: 0px;">
            بازگشت به صفحه اصلی
          </p>
        </a>
       </div>
  </div>
</div>
