<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav [mode]="mode.value" position="end">
    <p><button mat-button (click)="sidenav.toggle()"><i class="fa fa-window-close-o" aria-hidden="true"></i>
      </button></p>
    <div class="menu_content">
      farid
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (navToggle)="sidenav.toggle()"></app-header>
    <div class="row content">
      <div class="banner">
        <img class="img-fluid" src="assets/image/contact-us-bg-banner.jpg" alt="aboutus">
        <span class="title">درباره ما</span>
      </div>
    </div>
    <div class="container about_body">
      <div class="about_inner">
        <div class="row">
          <div class="col-xs-12 col-md-8 ">
            <p class="paragraph">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
          </div>
          <div class="col-xs-12 col-md-4"></div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
