<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav [mode]="mode.value" position="end">
    <p><button mat-button (click)="sidenav.toggle()"><i class="fa fa-window-close-o" aria-hidden="true"></i>
      </button></p>
    <div class="menu_content">
        <app-sidenav></app-sidenav>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (navToggle)="sidenav.toggle()"></app-header>
    <div class="row content">
      <div class="banner">
        <img class="img-fluid" src="assets/image/contact-us-bg-banner.jpg" alt="aboutus">
        <span class="title">درباره ما</span>
      </div>
    </div>
    <div class="container about_body">
      <div class="about_inner">
        <div class="row">
          <div class="col-xs-12 col-md-8 text_about">
            
              <div class="paragraph"[innerHTML]="about.text"></div>
                
            
          </div>
          <div class="col-xs-12 col-md-4 img_about">
            <img class="img-responsive img_cls" src="{{ about.image }}" alt="چتربازی ">
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
