<div class="background">
    <div class="login">
        <div class="logo col-2">
            <a [routerLink]="['/']">
                <img src='assets/image/chatrbaazan-logo.png'>
            </a>
        </div>
        <h5>کلمه عبور جدید خود را وارد نمایید</h5>
        <form method="post" (ngSubmit)="resetpassword()">
            <mat-form-field class="example-full-width">
                    <input matInput type="password" [(ngModel)] = "myuser.pass1" placeholder="رمز عبور جدید" name="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                    <input matInput type="password"  [(ngModel)] = "myuser.pass2" placeholder="تکرار رمز عبور" name="email">
            </mat-form-field>
            <!-- [(ngModel)] = "user.email" -->
            <button
                type="submit"
                class="btn btn-primary btn-block btn-large"
            >
                یاد آوری کلمه عبور
            </button>
        </form>
    </div>
</div>
