.content{
    margin-top: 10em;
    margin-right:  2em;
    margin-left:  2em;
    margin-bottom: 4em;
}
.cart_item{
    background-color: #ffffff;
    padding: 1em;
    /* margin-left: 1em; */
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}
.cart_pardakht{
    background-color: #ffffff;
    padding: 1em;
    /* margin-right: 1em; */
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}
