<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav [mode]="mode.value" position="end">
    <p><button mat-button (click)="sidenav.toggle()"><i class="fa fa-window-close-o" aria-hidden="true"></i>
      </button></p>
    <div class="menu_content">
        <app-sidenav></app-sidenav>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (navToggle)="sidenav.toggle()"></app-header>
    <div class="row content">
      casc
      xasxasxsa
      {{cart}}
    </div>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
