<h2 mat-dialog-title>

  </h2>
  
  <mat-dialog-content style="max-width: 100%;overflow-x: hidden;">
      <div class="container modal_part">
        <div class="row">
          <div class="col-md-8">
            <div class="paragraph">
              <h4>
                {{pro.name}}
              </h4>
            </div>
            <hr size=30>
            <div class="col-md-12 col-xs-12 btn-group ">
              
            <div class="col-md-5 pull-right-md" *ngIf="pro.is_free">
                <div class="pull-right-md">
                  <button class="btn Copy_btn" ngxClipboard cbContent={{pro.discount}} [container]="container">کپی</button>
                  <input  disabled="disabled" class=" btn input_cupon" type="text" value="{{pro.discount}}">
                </div>

            </div>
            <div class="col-md-5 pull-right-md" *ngIf="!pro.is_free">
                <button class="btn price_btn " ngxClipboard  [container]="container">قیمت</button>
                <input  disabled="disabled" class=" btn price_input" type="text" value="{{pro.price}}">
            </div>


            <div class="col-md-7 col-xs-12">
                 <!-- <a [routerLink]="['/product' , pro.slug]" (click)="close()">
                            <button type="button" class="btn btn-primary btn_sm" data-toggle="button" aria-pressed="false" autocomplete="off">
                    مشاهده بیشتر 
                  </button>
                 
                </a>  -->
                 <!-- <a (click)="addtocart(pro.id)">
                  <button type="button" class="btn btn-success btn_sm" data-toggle="button" aria-pressed="false" autocomplete="off">
                      افزودن به سبد   
                    </button>
                   
                    </a> -->
                     <mat-dialog-actions>
                        <button mat-raised-button color="warn" [routerLink]="['/product' , pro.slug]" (click)="close()" class="btn_sm" >جزئیات بیشتر</button>
                        <button  mat-raised-button color="primary" (click)="addtocart(pro.id)" class=" btn_sm mat-raised-button">افزودن به سبد</button>
                      </mat-dialog-actions> 
              </div>
            </div>
            <hr>
            <div  class="paragraph" [innerHTML]="pro.explanation_short"></div>
          </div>
          <div class="col-md-4">
            <img class="imgae_modal" src="{{pro.image}}" alt="">
          </div>
        </div>
      </div>
      <!-- <span  *ngFor="let i of pro.company;">
          <a [routerLink]="['/company' , i.slug]"> {{i.name}}</a>
          
        </span> -->
        
  </mat-dialog-content>
  
  
  