<mat-dialog-content >
  <!-- <div class="container modal_part"> -->
  <!-- style="max-width: 100%;overflow-x: hidden;" -->
  <div class="row">
    <div class="col-md-4">
      <img class="imgae_modal" src="{{pro.image}}" alt="">
    </div>
    <div class="col-md-8">
      <div class="paragraph">
        <h4>
          {{pro.name}}
        </h4>
      </div>
      <hr size=30>
      <div class="col-md-12 col-xs-12 btn-group row">

        <div class="col-12 " *ngIf="pro.is_free">
          <div class="centered modal_input">
            <button class="btn Copy_btn " ngxClipboard (click)="showCopied()" cbContent={{pro.discount_code}} [container]="container">کپی</button>
            <input disabled="disabled " class=" btn input_cupon copy_input" type="text" value="{{pro.discount_code}}">
          </div>

        </div>
        <div class=" col-12" *ngIf="!pro.is_free">
            <div class="modal_btn">
          <button class="btn price_btn " ngxClipboard [container]="container">قیمت</button>
          <input disabled="disabled " class=" btn price_input copy_input" type="text" value="{{pro.price}}">
          </div>
        </div>


        <div class="col-12">
              <div class="modal_input">
            <button mat-raised-button color="" [routerLink]="['/info/product' , pro.slug]" (click)="close()" class="btn_sm">جزئیات
              بیشتر</button>
            <button *ngIf="!pro.is_free"mat-raised-button color="primary" (click)="addtocart(pro.id)" class=" btn_sm mat-raised-button">افزودن
              به سبد</button>
            <a href="{{pro.link}}">
              <button *ngIf="pro.is_free"mat-raised-button color="primary"  class=" btn_sm mat-raised-button">پرتاب</button>
            </a>
              <button mat-raised-button color="warn" (click)="sendfail(pro.slug)"  class=" btn_sm mat-raised-button">اعلام خرابی</button>
              </div>
        </div>
      </div>
      <hr>
      <div class="paragraph" [innerHTML]="pro.explanation_short"></div>
    </div>
  </div>
  <!-- </div> -->
  <!-- <span  *ngFor="let i of pro.company;">
          <a [routerLink]="['/info/company' , i.slug]"> {{i.name}}</a>

        </span> -->

</mat-dialog-content>
