.offer {
  margin: 2em 1em;
  padding: 1.5em;
  background-color: #FFFFFF;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  transform-style: preserve-3d; 
  transition: .6s;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
.offer .offer_header .title {
  text-align: right;
}


.offer .inner_content {
  text-align: right;
  margin: 0;
  
}

.offer .offer_box {
  position: relative;
  padding: 5px 15px 38px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  width: 20%;
  height: 20em;
}
.offer .offer_box  .offer_box_link{
  height: 100%;
  width: 100%;
}

.offer .offer_box .offer_image {
  position: relative;
  width: 11em;
  height: 10em;
  display: block;
  margin: auto;
}

.offer .offer_box .offer_image img {
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  /* height: 100%; */
  width: 92%;
  height: 92%;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.offer .offer_box .offer_title {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  /* display: flex; */
  color: #4c4c4c;
  height: 45px;
  font-size: 14px;
  padding-top:10px;
}

.offer .offer_box .offer_company {
  text-align: right;
  margin: auto;
  width: 50%;
  height: 10%;
  align-items: center;
  display: flex;
}
.offer .offer_box .offer_company a {
  color: #828c99;
  letter-spacing: .3px;
  margin: 0 2px;
  font-size: 11.998px;
  font-weight: 400;
}
.offer .offer_box .offer_btn {
  display: block;
  background-color: #0e1f3c;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  padding: 8px 12px;
  margin: 6px auto 0;
  border-radius: 6px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: .2px;
  font-family: inherit;
  border: 1px;
  width: 70%;
  cursor: pointer;
}
.offer_off{
  position: absolute;
  z-index: 4;
  background-color: #ec2b54;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  top: 12px;
  left: -0.5px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}
.Copy_btn{
  border-radius: 0;
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
}
.btn-groups{
  margin: 1.2em auto;
}
@media (max-width: 768px) {
  .offer .offer_box {
    width: 50%;
  }
  .mat-tab-label{
    width: 100px;
  }

}
@media (max-width: 559px) {
  .mat-tab-label {
    width: 90px !important;
  }
  .offer .offer_box .offer_title {
    font-size: 10px;
  }
  .offer .offer_box .offer_image {
    width: 8em;
    height: 8em;
  }
  .offer_off{
    font-size: 10px;
    padding: 3px 4px;
  }
}


/* label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 96%;
  height: 96%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.card .front,
.card .back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.card .back {
  z-index: 5;
  background: rgb(21, 44, 83);
  color: #FFFFFF;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card .back p{
  color: #FFFFFF;
}
label:hover .card {
  -webkit-transform: rotateY(10deg);
  transform: rotateY(10deg);
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}

input {
  display: none;
}

.card.voted {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
} */


/* :checked + .card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
} */

/* label:hover :checked + .card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
} */
label {
  /* -webkit-perspective: 1000px;
  perspective: 1000px; */
  /* -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; */
  display: block;
  width: 96%;
  height: 96%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}


.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; 
  -webkit-transition: all 600ms;
  transition: all 600ms;
  /* z-index: 20; */
}

.card .front,
.card .back {

  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.card .back {
  z-index: 5;
  background: rgb(21, 44, 83);
  color: #FFFFFF;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card .back p{
  color: #FFFFFF;
}

.voted {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
} 
input {
  display: none;
}

.btn_sm {
  width: 7em !important;
  font-size: .9em;
  border-radius: 5px;
  margin: .5em;
  padding: .5em;
}

.input_cupon{
  display: inline;
  width: 100px;
  border-radius: 10px 0 0 10px;
}