<div class="login">
  <h1> ثبت‌نام در چتر بازان</h1>
  <form method="post">
    <input type="text" name="u" placeholder="ایمیل" required="required" />
    <input type="tel" name="p" placeholder="شماره تلفن"  maxlength="11" required="required" />
    <input type="password" name="p" placeholder="رمز عبور" required="required" />
    <input type="password" name="p" placeholder="تکرار رمز عبور" required="required" />
    <button type="submit" class="btn btn-primary btn-block btn-large">تبت نام</button>
  </form>
</div>
