<h2 mat-dialog-title>
  <div class="logo ">
    <a [routerLink]="['/']">
      <img src='assets/image/chatrbaazan-logo.png'>
    </a>
  </div>
  <h1>ورود به چتر بازان</h1>
</h2>

<mat-dialog-content>
  <div class="login">
    <form (ngSubmit)="LoginUser()" >
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)] = "user.email" placeholder="ایمیل" name="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" matInput [(ngModel)] = "user.password" placeholder="پسورد" name="password">
      </mat-form-field>
    <p><a (click)="forgetpassword()">رمز عبور خود را فراموش کرده ام</a></p>
    <p>کاربر جدید هستید؟ <a (click)="signup()">
        ثبت‌نام در چتر بازان
      </a></p>
      <p *ngIf="isLoginError">
        رمز عبور یا کد کاربری اشتباه است
      </p>
      <mat-dialog-actions>
        <button mat-raised-button color="warn" (click)="close()">خروج</button>
        <button  mat-raised-button (click)="LoginUser()" type="submit" class="mat-raised-button">ورود</button>
      </mat-dialog-actions>
    </form>
  </div>
</mat-dialog-content>


