<div class="container content">
  <!-- <h1>
    404
  </h1> -->
  <img class="logo" src="assets/image/para.png">
  <h1>صفحه مورد نظر یافت نشد</h1>
  <a routerLink="/">
    <button type="button" class="btn btn-primary return">بازگشت به صفحه اصلی</button>
  </a>
  <div class="offer_div">
    <a routerLink="/category/Food" class="offer">کد تخفیف سفارش غذا</a>
    <a routerLink="/company/Digikala" class="offer">کد تخفیف دیجیکالا</a>
    <a routerLink="/info/search/4" class="offer">همه کدهای تخفیف</a>
    <!--<button type="button" class="btn btn-outline-primary offer">کد تخفیف سفارش غذا</button>-->
    <!--<button type="button" class="btn btn-outline-primary offer">کد تخفیف دیجیکالا</button>-->
    <!--<button type="button" class="btn btn-outline-primary offer">همه کدهای تخفیف</button>-->
  </div>

</div>

