/deep/ body {
    /* position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;  */
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-image: url('../../assets/image/bg_01.png');
    background-size: cover;
    /* overflow: hidden; */
    margin: 0;
  }
.logo img{
    width: 100px;
}
.login {
    background-color: #ffffff;
    margin: 6em auto;
    width: 25em;
  height: 300px;
  padding: 2em;
  border-radius: 10px;
}
.login h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}
.login h5{
    text-align: center;
    padding: 30px;
}
.login button{
    margin-top: 15px;
}


@media all and (max-width: 575px) {
    .login {
        background-color: #ffffff;
        margin: 3em auto;
        width: 18em;
    }
    .login h1 {
        font-size: 2em;
    }
}
.mat-form-field{
    width: 100% !important;
  }