<div class="background">
  <div class="login">
      <div class="logo col-2">
          <a [routerLink]="['/']">
            <img src='assets/image/chatrbaazan-logo.png'>
          </a>
        </div>
    <h5>یاد آوری کلمه عبور</h5>
    <form method="post">
      <mat-form-field class="example-full-width">
        <input matInput  placeholder="ایمیل">
      </mat-form-field>
       <!-- [(ngModel)] = "user.email" -->
      <button type="submit" (click)="forgetpassword(gi)" class="btn btn-primary btn-block btn-large">یاد آوری کلمه عبور</button>
    </form>
  </div>
</div>
