<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav [mode]="mode.value" position="end">
    <p><button mat-button (click)="sidenav.toggle()"><i class="fa fa-window-close-o" aria-hidden="true"></i>
      </button></p>
    <div class="menu_content">
      farid
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (navToggle)="sidenav.toggle()"></app-header>
    <div class="row content">
      <div class="banner">
        <img src="assets/image/contactusbanner.png" alt="">
        <span class="title">تماس با ما</span>
        
      </div>
    </div>
    <div class="container contact_body">
      <div class="contact_inner">
        <div class="row">
          <div class="col-xs-12 col-md-3 contact email"></div>
          <div class="col-xs-12 col-md-3 contact telegram"></div>
          <div class="col-xs-12 col-md-3 contact instagram"></div>
        </div>
        <div class="row">
          <div class=" col-md-5 contact email">
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
            
          </div>
          <div class=" col-md-5 contact email"></div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
