<app-header></app-header>
<div class="row content">
  <div class="banner">
    <img src="assets/image/contactusbanner.png" alt="">
    <span class="title">تماس با ما</span>
  </div>
</div>
<div class="container contact_body">
  <div class="contact_inner">
    <div class="row">
      <div class="col-xs-12 col-md-3 contact email">
        
        <i class="fa fa-telegram " aria-hidden="true"></i>        
        <span style="font-size: 48px; color: Dodgerblue;">
          <i class="fas fa-stroopwafel"></i>
        </span>
        

      </div>
      <div class="col-xs-12 col-md-3 contact telegram"></div>
      <div class="col-xs-12 col-md-3 contact instagram"></div>
      
    </div>
  </div>
</div>

<app-footer></app-footer>
