<!-- 
  <ul class="navbar-nav">
    <li class="nav-item">

    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul> -->

  <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic" *ngIf="loggedin()">
        <img src="assets/image/paratrooper.png" class="img-responsive" alt="">
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <!-- <div class="profile-usertitle" *ngIf="user.logged()">
        <div class="profile-usertitle-name">
          ممد چتر باز
        </div>
        <div class="profile-usertitle-job">
          ادمین چتربازا
        </div>
      </div> -->
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR BUTTONS -->
      <div class="profile-userbuttons" *ngIf="!loggedin()">
          <div>
              <button type="button" class="btn basket_btn btn-sm " (click)="plaeseLogin()" [routerLink]="['/basket']">سبد خرید</button>
            </div>
        <button type="button" class="btn btn-success btn-sm btn_sm" [routerLink]="['/login']">ورود</button>
        <button type="button" class="btn btn-danger btn-sm btn_sm" [routerLink]="['/signup']">ثبت نام!</button>
      </div>
      <div class="profile-userbuttons" *ngIf="loggedin()">
        <div>
          <button type="button" class="btn basket_btn btn-sm "  [routerLink]="['/basket']">سبد خرید</button>
        </div>
          <button type="button" class="btn btn-success btn_sm"  [routerLink]="['/profile']">پروفایل</button>
          <button type="button" class="btn btn-danger btn_sm " (click)="logout()" >خروج</button>
        </div>
      <!-- END SIDEBAR BUTTONS -->
      <div class="navbar_loc">
      <ul class="navbar-nav">
          <div  class="div_nav" *ngFor="let category of categories" >  
              <li class="nav-item nav-loc" >
                  <a class="nav-link" [routerLink]="['/category' , category.slug]">
                      {{category.name}}
                  </a>
                </li>
        </div>
        <div class="div_nav">
            <!-- <li class="nav-item nav-loc">
              <a class="nav-link" href="#">Link 1</a>
            </li> -->
        </div>
        </ul>
      </div>
    </div>
  