/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: "iranyekan";
  src: url('./assets/fonts/iranyekanweblight.ttf')format('ttf'),
  url('./assets/fonts/iranyekanweblight.woff2') format('woff2'),
  url('./assets/fonts/iranyekanweblight.woff') format('woff'),
  url('./assets/fonts/iranyekanweblight.eot') format('eot');
}
* {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: iranyekan ;
}

html,
body {
  height: 100%;
  direction: rtl;
}

.row {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  font-family: iranyekan !important;
}

a {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-container {
  /* z-index: 10; */
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

.mat-drawer-content {
  overflow: hidden !important;
}

.menu_content {
  width: 270px;
  ;
}

@media (max-width: 559px) {
  .mat-tab-label {
    width: 80px !important;
    font-size: .8em;
  }
}

@media (min-width: 768px) {

  .mat-tab-label {
    width: 100px !important;
    font-size: .9em;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }

}




.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 45%;
}

.owl-carousel .owl-nav {
  background: #1253a1;
}

.owl-carousel .owl-nav .owl-prev {
  right: 5px;
  font-size: 40px !important;
}

.owl-carousel .owl-nav .owl-next {
  left: 5px;
  font-size: 40px !important;
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 1%;
  right: 45%;
}
.owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(158, 144, 144, 0.76) !important;
  margin-left: 5px;
  margin-right: 5px;
}
.owl-dot.active {
  background: rgba(245, 240, 240, 0.87) !important;
}
.owl-dot:hover {
  background: rgba(255, 255, 12, 0.959) !important;
}