.content{
  margin-top: 9em;
}

.notfound{
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}
.filter_btn{
  float: right;
}
.filter_box{
    border: #DFDFDF solid 2px;
    border-radius: 5px;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #FFFFFF;
}
.filter_box *{
  text-align: right;
}
.filter_box p{
  font-size: 1.1em;
  font-weight: 700;
}

.offer{
  margin-top:0;
}

.offer .offer_box{
  width: 23%;
}

.status_pro{
  margin: 0 !important;
}
.price_p{
  margin:0 !important ;
  /* font-size: 0.831em !important; */
}

@media (max-width: 768px) {
  .offer .offer_box {
    width: 31%;
    margin: 5px;
  }
  .status_pro{
    margin: 0 !important;
  }
  .price_p{
    margin:0 !important ;
    font-size: 0.831em !important;
  }
  .status_pro{
    margin: 0 !important;
  }
  .price_p{
    margin:0 !important ;
    font-size: 0.831em !important;
  }
}

@media (max-width: 559px) {
  .offer .offer_box {
    width: 47%;
    margin: 4px;
    height: 18em;
  }
  .status_pro{
    margin: 0 !important;
  }
  .price_p{
    margin:0 !important ;
    font-size: 0.831em !important;
  }
}
.not_found{
  text-align: center;
font-size: 2em;
font-weight: 700;
}

@media (max-width: 1300px) {
  .offer .offer_box {
    width: 31%;
    margin: 5px;
  }
  .status_pro{
    margin: 0 !important;
  }
  .price_p{
    margin:0 !important ;
    font-size: 0.831em !important;
  }
}
@media (max-width: 768px) {
  .not_found{
  font-size: 1.5em;
  } 
  .status_pro{
    margin: 0 !important;
  }
  .price_p{
    margin:0 !important ;
    font-size: 0.731em !important;
  }
}
@media (max-width: 559px) {
  .not_found{
    font-size: 1.1em;
    }
    .status_pro{
      margin: 0 !important;
    }
    .price_p{
      margin:0 !important ;
      font-size: 0.631em !important;
    }
}