.content{
    margin: 0;
    margin-top: 8.8em;
}
.banner .banner_image{
    height: 11.9em;
    width: 100%;
    padding: .5em;
}
.banner_image img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
@media (min-width: 991px) {
    .banner{
        order: 1;
    }
    .slider{
        order: 2;
    }
  }
  
@media (max-width: 991px) {
    .banner{
        order: 2;
    }
    .slider{
        order: 1;
    }
  }
  

  