<ngx-spinner class="myspiner"
      bdColor = "rgba(51, 51, 51, 0.8)"
      size = "large"
      color = "#fff"
      type = "ball-climbing-dot">
  </ngx-spinner>
<mat-sidenav-container class="example-container">
   
  <mat-sidenav #sidenav [mode]="mode.value" [fixedInViewport]="true" position="end">
    <p><button mat-button (click)="sidenav.toggle()"><i class="fa fa-window-close-o" aria-hidden="true"></i>
    </button></p>
    <div class="menu_content">
        <app-sidenav></app-sidenav>
    </div>    
  </mat-sidenav>


  <mat-sidenav-content>
      
    <app-header (navToggle)="sidenav.toggle()"  (cityevent)="citychangedinheader($event)"></app-header>
    <div class="row content">
      <div class="col-md-4 col-xs-12 banner px-0">
        <div class="banner_content" >
          <div class="banner_image" *ngIf="banner1[0]">
            <a class="banner_links" href="https://{{banner1[1]}}"><img src={{banner1[0]}} alt=""></a>
          </div>
          <div class="banner_image" *ngIf="banner2[0]">
            <a class="banner_links" href="https://{{banner2[1]}}"><img src={{banner2[0]}} alt=""></a>
          </div>
          <div class="banner_image" *ngIf="banner3[0]">
            <a class="banner_links" href="https://{{banner3[1]}}"><img src={{banner3[0]}} alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xs-12 slider px-0">
        <app-carousel></app-carousel>
      </div>
    </div>
    
    <app-offer [cityHeader]="cityHeaderinhome"></app-offer>
    <app-convention [cityHeader]="cityHeaderinhome" ></app-convention>
    <app-application ></app-application>
    <app-product ></app-product>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
