/* .banner_content{
    margin: 0px 0 0 0 ;
} */
.myspiner /deep/ .black-overlay{
    position: fixed;
  }
  
:host /deep/.go-top-button {
    
    background: rgb(250, 250, 250);
    position: fixed;
    cursor: pointer;
    outline: none;
    left: 24px !important;
    right: auto;
    bottom: 10%;
    top: 90%;
    /* right: 0 ; */
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    color: #ffffff;
    /* background: rgba(0, 0, 0, 0.3); */
    border: none;
    border-radius: 3px 0 0 3px;
  }
.content{
    margin: 0;
    margin-top: 8.8em;
}
.banner .banner_image{
    height: 11.7em;
    width: 100%;
    padding: .5em;
}
.banner_image img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}
.banner_links{
    height: 100%;
    width: 100%;
}

.sidenav{
    
}

#mySidenav a {
    position: fixed;
    right: -68px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    z-index: 10000;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: white;
    border-radius: 5px 0px 0px 5px;
  }
  
  #mySidenav a:hover {
    right: 0;
  }
  
  #about {
    top: 50%;
    background-color: #4CAF50;
  }


@media (min-width: 991px) {
    .banner{
        order: 1;
    }
    .slider{
        order: 2;
    }
  }
  
@media (max-width: 991px) {
    .banner{
        order: 2;
    }
    .slider{
        order: 1;
    }
  }

  @media all and (max-width: 991px) { 
    .banner_links{
        height: 100%;
        width: 96%;
        display: block;
        margin: 0 auto;
    }
    .banner .banner_image{
        height: 10.4em;
        width: 100%;
        padding: .5em;
    }
   } 
  @media all and (max-width: 768px) { 
    .item img {
    height: 20em;
  } 
  } 
  @media all and (max-width: 575px) { 
    .item img {
      height: 12em;
    } 
  }
  

  